.text{
    display: flex;
    justify-content: left;
}
.card-container{
    width: 50%;
    background-color: whitesmoke;
    margin-left: 25%;

}
.myPic{
    width: 100%;

}
.text-top{
    display: flex;
    justify-content: center;
}
html{
    /* display: flex; */
    justify-content: center;
}
.followers-link{
    background:rgb(111,111,111);
    color: white;
    font-weight: 2.5rem;
    width: 27%;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    }
.followers-link:hover{
    background: blueviolet;
    color:white;
}